<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">Devices</div>
        <div class="panel-body">
          <table class="table table-hover">
            <thead>
            <tr>
              <th>Device Name</th>
              <th>Scraped at</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {{#each devices.docs}}
              <tr>
                <td>{{this.name}}</td>
                <td>{{this.date}}</td>
                <td>
                  <a href="/devices/{{this.id}}" class="btn btn-primary btn-sm">Edit</a>

                  <form method="POST" action="/devices/{{this.id}}?_method=DELETE" class="device-delete-form">
                    <button type="submit" class="btn btn-default btn-sm btn-danger">Delete</button>
                  </form>
                </td>
              </tr>
            {{/each}}
            </tbody>
          </table>
              <nav>
                <ul class="pager">
                  {{#compare page "==" 1}}
                    <li class="previous disabled"><a href="/devices"><span aria-hidden="true">&larr;</span> Previous</a></li>
                  {{/compare}}

                  {{#compare page ">" 1}}
                    <li class="previous "><a href="/devices?page={{dec page}}&limit={{limit}}"><span aria-hidden="true">&larr;</span> Previous</a></li>
                  {{/compare}}

                  {{#compare page "===" devices.pages}}
                    <li class="next disabled"><a href="/devices">Next <span aria-hidden="true">&rarr;</span></a></li>
                  {{/compare}}

                  {{#compare page "<" devices.pages}}
                    <li class="next"><a href="/devices?page={{inc page}}&limit={{limit}}">Next <span aria-hidden="true">&rarr;</span></a></li>
                  {{/compare}}
                </ul>
              </nav>
        </div>
      </div>
    </div>
  </div>
</div>
