<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-default">
        <div class="panel-heading">Device scraped at  {{device.date}}</div>
        <div class="panel-body">
          <form method="POST" action="/devices/{{device._id}}?_method=PUT">
            <!--<input type="hidden" name="_method" value="PUT">-->
            <table class="table table-hover">
              <thead>
              <tr>
                <th>Name</th>
                <th>Value</th>
              </tr>
              </thead>
              <tbody>
              {{#each device.data}}
                <tr>
                  <td>{{@key}}</td>
                  <td>
                      <input type="text" name="{{@key}}" class="form-control" value="{{this}}">
                  </td>
                </tr>
              {{/each}}
              </tbody>
            </table>
            <button type="submit" class="btn btn-default pull-right btn-primary">Update</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
